%h3.subheader= @auction.title

.row
  .large-5.columns
    %ul.vcard.auction-info
      %li= "Owner: " + @auction.owner.name
      %li= "Starting bid: " + number_to_currency(@auction.start_bid)
      %li= "Buy out: " + number_to_currency(@auction.buy_out)
      %li= "Bid increment: " + number_to_currency(@auction.bid_increment)
      %li= "End date: #{@auction.end_date}"
      %li= "High bid: " + number_to_currency(@auction.high_bid)
      %li= "High bidder: " + @auction.high_bidder.name
  .large-7.columns
    .label.success.high-bid
      = "High Bid: #{number_to_currency(@auction.high_bid)}"


= form_for [@auction, @bid] do |f|
  = f.hidden_field :amount, value: @auction.bid_increment
  / flag to let controller know the bid is coming from the increment button.
  = hidden_field_tag :is_increment, value: true
  = f.submit "Place a bid of: #{number_to_currency(@auction.bid_increment)}", :class => "button"

%h4.subheader Or enter the amount you want:

= simple_form_for [@auction, @bid] do |f|
  = f.input :amount, label: false, input_html: {placeholder: "Enter your bid."}
  = f.submit "Place bid", :class => "button"
