%nav.top-bar
  %ul.title-area
    %li.name
      Market
    %li.toggle-topbar.menu-icon
      %a
        %span
          Menu

  %section.top-bar-section
    %ul.right
      %li.has-dropdown
        %a Auctions
        %ul.dropdown
          %li= link_to "All", auctions_path
          %li= link_to "New", new_auction_path if signed_in?
      - if signed_in?
        %li.has-dropdown
          %a Conversations
          %ul.dropdown
            %li= link_to "Read", conversations_path
        %li= link_to "Sign out", signout_path, method: 'delete'
      - else
        %li= link_to "Sign in", signin_path
